.reset-btn {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
    justify-items: center;
    align-items:center;
    margin: auto;
}

.App {
   
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
    padding-top: 20px;

}
.hidden {
    display: none;
}

.status-conteiner{
    display: flex;
    align-items:center;
    justify-content: center;
    width:200px;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }